// .hero {
// 	color: yellowgreen;

// 	@extend %test_bg;
// 	@extend %main_font;
// }

// .test {
// 	height: 30rem;
// 	width: 50em;

// 	@extend %main_font;
// 	@extend %test_bg;
// }

// .test_2 {
// 	background-color:aquamarine;
// 	@include test_2(height, 2rem);
// }

// .test_3 {
// 	background-color:bisque;
// 	@include test_2;
// }

// .test__btn {
// 	@extend %blue_btn_1;
// 	@extend %btn_size_1;
// }

.cta {
	display: flex;
	align-items: center;
	column-gap: 3rem;
	
	max-width: 116rem;
	
	color: $color_white;
}

.cta__info {
	line-height: 1.16;
}

.cta__title {
	margin-bottom: 3rem;

	font-size: 3.6rem;
	font-weight: 700;
}

.cta__descr {
	font-size: 2.4rem;
	font-weight: 400;

	a {
		color: $color_white;
	}
}

.cta__btn_w {
	margin-left: auto;
}

.cta__btn {
	@extend %transp_btn_1;
	@extend %btn_size_1;
}
